/* Les textes du formulaire sont en Helvetica, la largeur globale du 
formulaire est de 400px, il doit être centré dans la page et écarté du 
bord supérieur de la page de 100px. */
form{
    font-family: Helvetica;
    width: 400px;
    margin: 100px auto 0 auto;
}

/* Des inputs avec une bordure noire continue de 1 pixel, des bords 
arrondis, une largeur fixée à 200px et faire en sorte que les champs 
soient espacés les uns des autres. Attention à ne pas commencer la 
frappe dans l'arrondi du champ.  */
input{
    border: 1px solid black;
    width: 200px;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Des labels de 100px de large à gauche des champs de saisie.  */
label{
    width: 100px;
    float: left;
}

/* Le bouton d'envoi doit avoir une couleur de fond modifiée, faire 
400px de large et l'écriture doit être en gras au centre du bouton. */
input[type="submit"]{
    background: green;
    width: 400px;
    font-weight: bold;
    text-align: center;
}

/* L'input ayant le focus doit avoir un bord de 2px bleu. */
input:focus{
    outline: 2px solid blue !important;
}
